.fill{
    height: 100%;
}
.redblock {
    background-color: #ffb87c;
}
.yellowblock {
    background-color: #9affbb;
}
.dumber{
    position: absolute;
    top: 2%;
    left: 33%;
    font-family: 'Holtwood One SC', serif;
    font-size: 40px;
    margin: 40px 0 0 11px;
}

.dumber-btn{
    top: 35%;
    margin: 40px 0 0 85px;
    font-size: 30px;
}

.dumber-img{
    left: 1%;
    margin: 0;
}

.dumber-img img{
    height: 250px;
    margin-top: 5px;
}

.btn-dumber{
    font-size: 30px;
}