<html>
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/dumb.css">
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="container-fluid fill">
        <div class="row fill">
            <div id="dumb_block1" class="col-xs-6 redblock fill"></div>
            <div id="dumb_block2" class="col-xs-6 yellowblock fill"></div>
        </div>
    </div>

    <div class="dumber dumber-img">
        <img src="/static/img/dumb.jpeg" alt="">
    </div>

    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/dumb.js"></script>
</body>
</html>